.offer__carousel {
    display: flex;
    align-items: center;
    width: 83%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 17.712px;
    background: #FFF;
    box-shadow: 0px 4.428116321563721px 17.712465286254883px 0px rgba(158, 158, 158, 0.25);
    padding: 25px;
    gap: 12px;
    .carousel__img {
        border-radius: 8px;
    }
    .office__header {
        color: #000;
        font-size: 17.712px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .offer__hd_txt {
        margin: 10px 0;
    }
    .offer__btn {
        padding: 10px 20px;
        border-radius: 35.425px;
        background: #2659C3;
        border: none;
        color: #fff;
        margin: 10px 0;
    }
}