.browse__carousel {
    width: 86%;
    margin: auto;
    .browse__header {
        padding: 20px;
        font-size: 35.425px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .carousel__images {
            width: 96%;
            margin: auto;
            display: flex;
            justify-content: space-around;
            padding: 30px;
            gap: 5px;
            .carousel__img {
                border-radius: 10px;
            }
        }
        .planBg {
            width: 98%;
            margin: 0 auto;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 100px;
            border-radius: 25px;
        }
        .plan__header {
            color: #FFF;
            font-size: 61.994px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 70%;
        }
        .plan__pg {
            color: #FFF;
            font-size: 35.425px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 15px 0;
        }
}